body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.nav-link,.navbar-brand{
    color: white !important;
    }
.nav-link {
    transition: 0.5s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .nav-link:hover{
    font-weight: bold;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    
}
.navbar-toggler-icon{
    color:white !important;
}
.home-section{
    background: linear-gradient(to right ,rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) ), url('https://plus.unsplash.com/premium_photo-1661726637770-fefe253c10e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
}
#home{
    margin-top: 120px;
}
.some-text{
    font-size: 25px;
    font-weight: 400;
    font-family: poppins,sans-serif;
    color: rgb(121, 121, 121);
    margin-bottom: 10px;
}
.home-section-text{
    font-size: 50px;
    font-family: poppins,sans-serif;
    margin-bottom: 25px;
}
.home-section-btn{
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}
.icon{
    font-size: 100px !important;
}
.icon-image{
    margin-left:25%;
}
.second-btn{
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}
.third-section{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.mission-text{
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mission-text2{
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.benefits-list li::before {
    content: "\2192";
    font-size: 16px;
    position: absolute;
    left: 25px;
}
.right{
    margin-top: 200px;
}
.second-last{
    margin-top: 60px;
    margin-bottom: 60px;
}
.question{
    font-weight: 400;
}
.image{
    margin: 0;
}
@media only screen and (max-width: 425px){
    .home-section{
        height: 800px;
    }
    #home{
        margin-top:10px
    }
    .third-section{
        height: 580px;
    }
    .mission-text,.mission-text2{
        font-size: 15px;
    }
    .mission-text{
        top: 30%;
    }
    .mission-text2{
        top: 60%;
    }
    .second-btn{
        margin-bottom: 10px;
    }
    .right{
        margin-top: 20px;
    }
    .image{
        margin-top: 10px;
    }
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease;
  }
  
  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  
  @media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
  }
  
  .styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  
  .styled-input.wide { 
    width: 650px;
    max-width: 100%;
  }
  
  .form-input {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
  }
  
  input:focus,
  textarea:focus { outline: 0; }
  
  textarea {
    width: 100%;
    min-height: 15em;
  }
  
  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }
  
  .submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
  }
  .gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
    position: relative;
}
.video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}
  @media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
  }
  @supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(17rem , 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}